*{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
nav, .home, .footer{
    background-color: #8F17AA;
    border: none;
}
.img-play{
    width: 30px;
}
.home h1{
    margin-top: 100px;
}
.btns .btn-danger{
    background-color: #571167;
    box-shadow: none;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
}
.btns .btn-danger:hover{
    background-color: #6a1c7b;
}

.card-img img{
    width: 80px;
}
p{
    font-size: 14px;
}
.profil img{
    width: 45px;
    height: 45px;
}
.img-icon img{
    width: 50px;
    transition: .3s ease-in-out;
}
.img-icon img:hover{
    transform: translateY(-10px);
}
/* .btn1{
    background-color: #721288;
} */
.footer-icon i{
    background-color: #571167;
}

.temoin-box{
    border-left: 4px solid #8F17AA;
}